.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &__main-col {
    display: flex;
    justify-content: center;
  }

  &__login-form {
    width: 100%;
    border: none;
    overflow: hidden;
  }

  &__bg-image {
    min-height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &__form {
    background: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    h1.card-title {
      font-size: 2rem;
      font-weight: 600;
      color: #333;
    }

    p {
      font-size: 0.95rem;
      color: #666;
      margin-bottom: 1.5rem;
    }

    a {
      display: inline-flex;
      align-items: center;
      margin-top: 2rem;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: #0d6efd;
        text-decoration: underline;
      }
    }
  }
}
